@keyframes PaymentsConnectConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-PaymentsConnectConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-PaymentsConnectConnection);
  }
}

@keyframes PaymentsTerminalConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-PaymentsTerminalConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-PaymentsTerminalConnection);
  }
}

@keyframes IssuingTreasuryConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-IssuingTreasuryConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-IssuingTreasuryConnection);
  }
}

@keyframes IssuingCapitalConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-IssuingCapitalConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-IssuingCapitalConnection);
  }
}

@keyframes ConnectTerminalConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-ConnectTerminalConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-ConnectTerminalConnection);
  }
}

@keyframes PaymentsRadarConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-PaymentsRadarConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-PaymentsRadarConnection);
  }
}

@keyframes PaymentsTaxConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-PaymentsTaxConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-PaymentsTaxConnection);
  }
}

@keyframes BillingInvoicingConnection-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-BillingInvoicingConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-BillingInvoicingConnection);
  }
}

@keyframes scale-in-animation {
  0% {
    stroke-dashoffset: calc(
      -1 * var(--starting-dashoffset-BillingInvoicingConnection)
    );
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--starting-dashoffset-BillingInvoicingConnection);
  }
}

@keyframes scale-in-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}

@keyframes scale-in-connector-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-out-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}

@keyframes slide-animation {
  0% {
    transform: translateX(0%);
  }
  20.83% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45.82% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70.82% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95.81% {
    transform: translateX(-300%);
  }
  99% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}

@keyframes slide-v-animation {
  0% {
    transform: translateY(calc(var(--var-offset) * 0));
  }
  20.83% {
    transform: translateY(calc(var(--var-offset) * 0));
  }
  25% {
    transform: translateY(calc(var(--var-offset) * -1));
  }
  45.82% {
    transform: translateY(calc(var(--var-offset) * -1));
  }
  50% {
    transform: translateY(calc(var(--var-offset) * -2));
  }
  70.82% {
    transform: translateY(calc(var(--var-offset) * -2));
  }
  75% {
    transform: translateY(calc(var(--var-offset) * -3));
  }
  95.81% {
    transform: translateY(calc(var(--var-offset) * -3));
  }
  99% {
    transform: translateY(calc(var(--var-offset) * -4));
  }
  100% {
    transform: translateY(calc(var(--var-offset) * -4));
  }
}
