@import url(./assets/scss/animation.scss);

.stripe-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ".       .        Tax      .         .       ."
    "Billing .        .        Invoicing Capital ."
    ".       Atlas    Payments Climate   .       Treasury"
    "Connect .        .        Radar     .       ."
    ".       .        Terminal Checkout  Issuing ."
    ".       Identity .        .         Sigma   Elements";
}

.custom-svg {
  svg {
    stroke-width: 1.2px;
  }

  path,
  circle {
    stroke: #c4ccd8;
    fill: transparent;

    /* &:hover {
      stroke: transparent;
    } */
  }
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: scale(0.8);

  &:hover {
    transform: scale(1);
    background-color: white;
    .svg-colored {
      transform: scale(0.7);
      opacity: 1;
    }
    .svg-bw {
      transform: scale(0.7);
      opacity: 0;
    }
    .svg-cap {
      position: absolute;
      opacity: 1;
      transform: translateY(-80%);
    }
  }
}

.svg-colored {
  transform-origin: top center;
  position: absolute;
  opacity: 0;
}
.svg-bw {
  transform-origin: top center;
  position: absolute;
  opacity: 1;
}

.svg-cap {
  position: absolute;
  bottom: 0;
  opacity: 0;
  letter-spacing: 0.2px;
  line-height: normal;
  font-size: 12px;
}

.ProductIcon {
  transform: scale(1);

  &:hover {
    transform: scale(1);
  }
}

.HomepageFrontdoorConnection {
  position: absolute;
}

.connectors {
  path {
    transition: none !important;
  }
}
/* .connectors {
  .HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal {
   
    path {
      animation: PaymentsTerminalConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--paymentsConnect {
  
    path {
      animation: PaymentsConnectConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--issuingTreasury {
    
    path {
      animation: IssuingTreasuryConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--issuingCapital {
    
    path {
      animation: IssuingCapitalConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--connectTerminal {
    
    path {
      animation: ConnectTerminalConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--paymentsRadar {
    
    path {
      animation: PaymentsRadarConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--paymentsTax {
   
    path {
      animation: PaymentsTaxConnection-animation 2s ease-in-out infinite;
    }
  }

  .HomepageFrontdoorSuiteAnimation__connection--billingInvoicing {
   
    path {
      animation: BillingInvoicingConnection-animation 2s ease-in-out infinite;
    }
  }
} */

/* animation */
